**/target/
*.iml
**/.idea/
/site/img/docs
/site/dat/eg_globals.xml
/build/
/dist/
/2016*/
/*.egg-info/
.coverage

*.pyc
*.project

/site/composer.lock
/site/.htaccess
/site/vendor
/site/img/design
/site/dat/tmp
/site/snapshots
