**/target/
*.iml
**/.idea/
/.cache/
/site/img/docs
/site/dat/eg_globals.xml
/build/
/dist/
/*.egg-info/
.coverage

*.pyc
*.project

/site/composer.lock
/site/.htaccess
/site/vendor
/site/img/design
/site/dat/tmp

# node.js
node_modules
.npm

/tests/build/
/examples/BOOTH1/converted/

bzt/resources/NUnitRunner/*
.gradle

integr-artifacts*
*.log
examples/local*
bzt/20*
bzt/runtest/**

# vscode
.vscode