language: python
os:
  - linux
  # - osx  # TravisCI isn't ready for this
python:
  - "2.7"
  - "3.3"
  - "3.4"
addons:
  apt:
    packages:
      - oracle-java8-set-default
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - pip install codecov
install: 
- nvm install 4.2
- nvm use 4.2
- gem install rspec
- pip install colorlog pyyaml psutil!=4.4.0 lxml cssselect urwid six selenium progressbar33 locustio pyvirtualdisplay
script: coverage run `which nosetests`
after_success:
  - codecov
