sudo: false
language: python

matrix:
  include:
  - os: linux
    python: 2.7
  - os: linux
    python: 3.3
  - os: linux
    python: 3.4
  - os: linux
    python: 3.5
#  - os: osx
#    language: generic

addons:
  firefox: "51.0.1"
  apt:
    packages:
      - oracle-java8-set-default

before_install: |
  if [[ $TRAVIS_OS_NAME == 'osx' ]]; then
    wget https://github.com/mozilla/geckodriver/releases/download/v0.15.0/geckodriver-v0.15.0-macos.tar.gz -O geckodriver.tar.gz
    sh -e Xvfb :99 -ac -screen 0 1024x768x8
  else
    wget https://github.com/mozilla/geckodriver/releases/download/v0.15.0/geckodriver-v0.15.0-linux64.tar.gz -O geckodriver.tar.gz
    export DISPLAY=:99.0
    sh -e /etc/init.d/xvfb start
  fi
  mkdir geckodriver
  tar -xzf geckodriver.tar.gz
  export PATH=$PATH:`pwd`

install:
- nvm install 4.2
- nvm use 4.2
- gem install rspec
- pip install colorlog jsonpath-rw pyyaml psutil lxml cssselect urwid six selenium progressbar33 locustio pyvirtualdisplay astunparse
- pip install git+https://github.com/Blazemeter/apiritif.git@master
- pip install --upgrade codecov nose nose-exclude
script: coverage run  --source=. `which nosetests` tests --exclude-dir=tests/resources
after_success:
- coverage report -m
- codecov
