language: python

matrix:
  include:
#  - os: linux
#    python: 2.7
#  - os: linux
#    python: 3.3
#  - os: linux
#    python: 3.3
  - os: linux
    python: 3.5
  - os: osx
    language: generic

#addons:
#  firefox: "51.0.1"
  apt:
    packages:
      - oracle-java8-set-default

before_install: |
  if [[ $TRAVIS_OS_NAME == 'osx' ]]; then
    wget https://github.com/mozilla/geckodriver/releases/download/v0.15.0/geckodriver-v0.15.0-macos.tar.gz -O geckodriver.tar.gz
    sh -e Xvfb :99 -ac -screen 0 1024x768x8
  else
    wget https://github.com/mozilla/geckodriver/releases/download/v0.15.0/geckodriver-v0.15.0-linux64.tar.gz -O geckodriver.tar.gz
    export DISPLAY=:99.0
    sh -e /etc/init.d/xvfb start
  fi
  mkdir geckodriver
  tar -xzf geckodriver.tar.gz
  export PATH=$PATH:`pwd`

install:
- nvm install 4.2
- nvm use 4.2
- gem install rspec
- pip install codecov nose colorlog pyyaml psutil!=4.4.0 lxml cssselect urwid six selenium progressbar33 locustio pyvirtualdisplay
script: coverage run -m nose
after_success:
  - codecov
