sudo: false
language: python
cache: pip  # use caching for pip's packages to speed up builds

branches:
  only:
  - master

os: linux

python:
- "2.7"
- "3.4"
- "3.5"
- "3.6"

env:
  global:
  - DISPLAY=:99.0
  - PIP_INSTALL="pip install"
  - GENERAL_EXCLUDE="--exclude-dir=tests/resources --exclude-dir=tests/ci"

matrix:
  include:
  - os: osx
    language: generic
    env:
    - PIP_INSTALL="sudo pip2 install"
    - RVM_KEY="409B6B1796C275462A1703113804BB82D39DC0E3"
    - OSX_EXCLUDE="--exclude-test=tests.modules.selenium.test_csharp"

addons:
  firefox: "57.0"
  apt:
    packages:
      - oracle-java8-set-default
      - mono-complete

install:
- |
  if [ "$TRAVIS_OS_NAME" = "linux" ]; then
    mono --version
  else
    gpg --keyserver hkp://keys.gnupg.net --recv-keys $RVM_KEY && rvm get stable || echo "rvm update fail"
  fi
- nvm install 6.11
- nvm use 6.11
- gem install rspec
- $PIP_INSTALL --upgrade pip
- $PIP_INSTALL -r requirements.txt
- $PIP_INSTALL -r tests/ci/requirements.txt

before_script:
- if [ "$TRAVIS_OS_NAME" = "linux" ]; then sh -e /etc/init.d/xvfb start; fi
- if [ "$TRAVIS_OS_NAME" = "osx" ]; then sudo nohup bash -c "xvfb :99 &"; fi
- python tests/resources/httpserver/start.py &

script:
- coverage run --source=. -m nose tests -v $GENERAL_EXCLUDE $OSX_EXCLUDE --with-timer --timer-top-n 20

after_success:
- if [ "$TRAVIS_OS_NAME" = "linux" ]; then coverage report -m && codecov; fi



