language: python
dist: focal
cache: pip  # use caching for pip's packages to speed up builds

branches:
  only:
  - master

os: linux

python:
- "3.9"
- "3.10"
- "3.11"
- "3.12"
- "3.13"

env:
  global:
  - DISPLAY=:99.0
  - PIP_INSTALL="pip install"
  - PYTHON=python

jobs:
  include:
  - os: osx
    name: "Python 3 on macOS"
    osx_image: xcode12    # Python 3.8.5 running on macOS 10.15.7
    language: shell
    env:
    - PYTHON=python3
    - PIP_INSTALL="sudo pip3 install"
    - RVM_KEY="409B6B1796C275462A1703113804BB82D39DC0E3"
    - OSX_EXCLUDE="--exclude-test=tests.unit.modules._selenium.test_csharp"

addons:
  firefox: latest
  chrome: stable
  apt:
    packages:
    - python-tk
    - python3-tk

install:
- |
  if [ "$TRAVIS_OS_NAME" != "linux" ]; then
    gpg --keyserver hkp://keys.gnupg.net --recv-keys $RVM_KEY && rvm get stable || echo "rvm update fail"
  fi
- gem install rspec
- $PIP_INSTALL --upgrade pip
- $PIP_INSTALL -r requirements.txt -r tests/ci/requirements.txt

before_script:
- if [ "$TRAVIS_OS_NAME" = "linux" ]; then nohup bash -c "Xvfb :99 &"; fi
- if [ "$TRAVIS_OS_NAME" = "osx" ]; then sudo nohup bash -c "xvfb :99 &"; fi
- $PYTHON tests/resources/httpserver/start.py &
- SCRIPT_RUNNER=$PYTHON
- if [ "$TRAVIS_OS_NAME" = "linux" ] && [ "$TRAVIS_PYTHON_VERSION" = "3.8" ]; then CHECK_COV=true; fi
- if [ "$CHECK_COV" = true ]; then SCRIPT_RUNNER="coverage run --source=bzt"; fi

script:
- $SCRIPT_RUNNER -m nose2 -s tests/unit -v

after_success:
- if [ "$CHECK_COV" = true ]; then coverage report -m && codecov; fi
