environment:
  matrix:
    - PYTHON: "C:\\Python27"

install:
  - choco install firefox -version 54.0
  - "%PYTHON%\\python.exe -m pip install nose nose-exclude codecov coverage"
  - "%PYTHON%\\python.exe -m pip install colorlog pyyaml jsonpath-rw psutil!=4.4.0 lxml==3.4.2 cssselect urwid six progressbar33 locustio pyvirtualdisplay astunparse ipaddress"
  - "%PYTHON%\\python.exe -m pip install selenium pytest"
  - "%PYTHON%\\python.exe -m pip install https://github.com/Blazemeter/apiritif/archive/master.zip"
  - set PATH=C:\Ruby22\bin;%PATH%
  - gem install rspec

build: off

before_test:
  - ruby -v
  - gem -v
  - rspec --version

test_script:
  - "coverage run --source=. nosetests tests/ --verbosity 3 --exclude-dir=tests/resources"

after_test:
  - "coverage report -m"
  - "codecov"
