image:
  - Visual Studio 2019

# Do not build feature branch with open Pull Requests
skip_branch_with_pr: true

environment:
  matrix:
    - PYTHON: "C:\\Python37"
      PYTHON_VERSION: "3.7.x"
      PYTHON_ARCH: "64"

platform:
  - x64

install:
  #- choco install firefox --version 67.0.3
  - ps: Install-Product node $env:NODEJS_VERSION
  - "%PYTHON%\\python.exe -m pip install pip wheel --upgrade"
  - "%PYTHON%\\python.exe -m pip install -r requirements.txt"
  - "%PYTHON%\\python.exe -m pip install -r tests/ci/requirements.txt"
  - set PATH=C:\Ruby22\bin;%PYTHON%\Scripts\;%PATH%
  - gem install rspec

build: off

before_test:
  - ruby -v
  - gem -v
  - rspec --version
  - node --version
  - locust --version
  - ps: Start-Process $env:PYTHON\\python.exe tests/resources/httpserver/start.py

test_script:
  - "%PYTHON%\\python.exe -m nose tests -v --exclude-dir=tests/resources --exclude-dir=tests/ci"
