# Do not build feature branch with open Pull Requests
skip_branch_with_pr: true

environment:
  matrix:
    - PYTHON: "C:\\Python35"
      PYTHON_ARCH: "64"
      NODEJS_VERSION: "6"

platform:
  - x64

install:
  - choco install firefox -version 54.0
  - ps: Install-Product node $env:NODEJS_VERSION
  - "%PYTHON%\\python.exe -m pip install pip --upgrade"
  - "%PYTHON%\\python.exe -m pip install -r requirements.txt"
  - "%PYTHON%\\python.exe -m pip install -r tests/ci/requirements.txt"
  - set PATH=C:\Ruby22\bin;%PATH%
  - gem install rspec

build: off

before_test:
  - ruby -v
  - gem -v
  - rspec --version
  - node --version

test_script:
  - "%PYTHON%\\python.exe -m nose tests -v --exclude-dir=tests/resources \
      --exclude-dir=tests/ci --with-coverage --cover-inclusive"

after_test:
  - "coverage report -m"
  - "codecov"
