image:
  - Visual Studio 2019

# Do not build feature branch with open Pull Requests
skip_branch_with_pr: true

environment:
  matrix:
    - PYTHON: "C:\\Python39"
      PYTHON_VERSION: "3.9.x"
      PYTHON_ARCH: "64"
    - PYTHON: "C:\\Python310"
      PYTHON_VERSION: "3.10.x"
      PYTHON_ARCH: "64"
platform:
  - x64

install:
  - "%PYTHON%\\python.exe -m pip install pip wheel --upgrade"
  - "%PYTHON%\\python.exe -m pip install -r requirements.txt -r tests/ci/requirements.txt"
  - set PATH=C:\Ruby22\bin;%PYTHON%\Scripts\;%PATH%
  - set SSL_CERT_FILE=C:\\ruby24-x64\\ssl\\cert.pem
  - gem install rspec

build: off

before_test:
  - ruby -v
  - gem -v
  - rspec --version
  - ps: Start-Process $env:PYTHON\\python.exe tests/resources/httpserver/start.py

test_script:
  - "%PYTHON%\\python.exe -m nose2 -s tests/unit -v"
