include bzt/10-base.json
include LICENSE
include NOTICE
include bzt/resources/gatling_script.tpl
include bzt/resources/logback-worker.xml
include bzt/resources/taurus-junit-1.0.jar
include bzt/resources/taurus-testng-1.0.jar
include bzt/resources/pbench.conf
include bzt/resources/rspec_taurus_plugin.rb
include bzt/resources/mocha-taurus-plugin.js
