astunparse>=1.6.0
colorama; sys_platform == 'win32'
colorlog
cssselect
Cython; python_version >= '3.9'
fuzzyset2
hdrpy>=0.3.3
lxml>=4.6.2
progressbar33
psutil>=5.6.6
pyvirtualdisplay; sys_platform != 'win32'
pyyaml
requests>=2.18.1
urwid
terminaltables>=3.1.0
molotov
webdriver-manager
