<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="auto test framework tests"
       verbose="0">

    <parameter name="url" value="http://go.mail.ru"/>

    <test name="test1">
        <classes>
            <class name="ru.mail.go.tests.SuggestTests"/>
        </classes>
    </test>

    <test name="test2">
        <classes>
            <class name="ru.mail.go.tests.SuggestTests"/>
        </classes>
    </test>
</suite>
