body {
    color: #565866;
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.header {
    background-color: #f1f1f1;
}

footer {
    color: white;
    background-color: #494961;
    margin-top: 2em;
    font-size: 0.8em;
    padding: 1em 3em 3em;
}

footer span {
    margin-right: 2em;
}

footer a:link, footer a:visited, footer a:hover {
    color: #fff;
}

footer img {
    margin-bottom: 3px;
    margin-left: 3px;
}

a:link, a:visited {
    color: #78a2d8;
}

nav {
    margin: 1em 0 0.5em;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #78a2d8;
    font-size: 1.1em;
}

.nav > li > a {
    margin-left: -15px;
    margin-right: 15px;
}

.site-header {
    padding: 0 0 1em;
}

.site-header div {
    height: 60px;
    vertical-align: middle;
}

.site-header div > * {
    vertical-align: middle;
}

.site-header .purpose {
    text-align: left;
    margin-left: 0.5em;
}

.site-header .motto {
    font-size: 0.9em;
    display: none;
}

hr {
    border-top-color: #e0e9f0;
    margin-right: -1em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* POSITION INFO */
.topmost {
    padding: 0.5em 0;
}

.topmost .fork {
    text-align: right;
}

.topmost .fork a * {
    vertical-align: middle;
}

.topmost .fork a:link, .topmost .fork a:visited, .topmost .fork a:hover {
    color: #565866;
    text-decoration: none;
    font-size: 0.8em;
}

.topmost .fork a i {
    font-size: 2em;
    vertical-align: bottom;
}

.topmost .fork a b {
    font-size: 1.3em;
}

.topmost .position {
    font-size: 0.7em;
}

.topmost .position a.nohl {
    color: #565866;
    text-decoration: underline;
}

/* WIKI */
table.wiki {
    width: 100%;
}

table.wiki td {
    vertical-align: top;
}

table.wiki tbody tr td:first-child {
    padding-right: 3em;
}

table.wiki pre, table.wiki tt {
    background-color: #DDD;
    font-size: 1em;
    padding: 0 0.25em;
    border-radius: 0.25em;
}

table.wiki pre {
    padding: 1em;
    overflow: hidden;
    font-size: 0.8em;
}

table.wiki ol, table.wiki ul {
    /*line-height: 1.7;*/
}

table.wiki li {
    margin-bottom: 0.25em;
}

table.wiki .sidebar {
    background-color: #f3f5f8;
    border-radius: 0.3em;
    white-space: nowrap;
    padding: 2em;
}

table.wiki .sidebar sup, table.wiki .sidebar font {
    display: none;
}

table.wiki .toc-list {
    margin-bottom: 0.75em;
    white-space: nowrap;
    list-style-type: decimal;
    font-size: 14px;
}

table.wiki .toc-list1 {
    padding-bottom: 3em;
}

table.wiki pre.python .sy0 {
    color: gray;
}

table.wiki pre.python .kw1 {
    color: maroon;
}

table.wiki pre.yaml .sy1 {
    color: gray;
}

table.wiki pre.yaml .co1 {
    color: #999;
}

table.wiki a.anchorLink {
    vertical-align: bottom;
    padding-left: 0.5em;
    font-size: 0.8em;
    text-decoration: none;
    color: gray;
    top: -0.25em;
}

table.wiki img {
    max-width: 100%;
}

.wiki p {
    margin-bottom: 1em;
}

.stick {
    position: fixed;
    top: 2em;
    display: block;
}

.yaml-json-switch {
    text-align: right;
    font-size: xx-small;
    font-family: monospace;
    margin-bottom: -2em;
    margin-right: 0.25em;
}

.yaml-json-switch span {
    margin-left: 0.5em;
    margin-right: 0.5em;
    cursor: pointer;
    color: gray;
}

.yaml-json-switch .selected {
    color: black;
}

/* DOWNLOADS */
.file_download {
    display: block;
    border: 1px dotted silver;
    margin: 1em 0;
    padding: 0.5em;
    background-color: #EEE;
}

.file_download a {
}

.file_download i {
}

.file_download b {

}

.file_download .filesize, .file_download .filedate {
    color: gray;
    font-weight: bold;
}

.file_download .count {
    color: gray;
    float: right;
}

/* homepage */

#homepage pre {
    background-color: #000;
    color: white;
    font-weight: normal;
    font-family: monospace;
    font-size: 1em;
}

#homepage .row pre {
    max-height: 30em;
    min-height: 30em;
    overflow: auto;
}

#homepage .centered {
    text-align: center;
}

#homepage .centered img {
    width: 75%;
    margin-top: 1em;
}

#homepage .centered p {
    font-size: larger;
}

#homepage hr {
    margin-right: auto;
}

#homepage h2 {
    margin-top: 1em;
}

#sample_chooser a {
    cursor: pointer;
}

.gitter-button {
    z-index:100;
    position:fixed;
    bottom:0;
    right:10px;
    padding:0.5em 2em;
    background-color:#dd7474;
    border:0;
    border-top-left-radius:.5em;
    border-top-right-radius:.5em;
    font-family:sans-serif;
    font-size:14px;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    cursor:pointer;
    cursor:hand;
}

.gitter-button,.gitter-button:visited {
    box-sizing:border-box;
    color:#fff
}

.gitter-button:focus,.gitter-button:hover {
    box-sizing:border-box;
    background-color:#b43636;
    color:#fff
}

.gitter-button:focus {
    box-sizing:border-box;
    box-shadow:0 0 8px rgba(180,54,54,.6);
    outline:none
}

.gitter-button:active {
    box-sizing:border-box;
    color:#eee
}

.gitter-button i {
  font-size: 1.2em;
}