body {
    color: #565866;
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.header {
    background-color: #f1f1f1;
}

footer {
    color: white;
    background-color: #565866;
    margin-top: 2em;
    font-size: 0.8em;
    padding: 1em 3em 3em;
}

footer span {
    margin-right: 2em;
}

footer a:link, footer a:visited, footer a:hover {
    color: #dcaf41
}

a:link, a:visited {
    color: #78a2d8;
}

nav {
    margin: 1em 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #78a2d8;
}

.site-header {
    padding: 0 0 1em;
}

.site-header div > * {
    vertical-align: middle;
}

.site-header .purpose {
    text-align: left;
    float: left;
}

.site-header .motto {
    font-size: 0.9em;
    text-align: right;
    float: right;
}

hr {
    border-top-color: #dcb045;
    margin-right: 5em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* POSITION INFO */
.topmost {
    padding: 0.5em 0;
}

.topmost .fork {
    text-align: right;
}

.topmost .fork a * {
    vertical-align: middle;
}

.topmost .fork a:link, .topmost .fork a:visited, .topmost .fork a:hover {
    color: #565866;
    text-decoration: none;
    font-size: 0.8em;
}

.topmost .fork a i {
    font-size: 2em;
    vertical-align: bottom;
}

.topmost .fork a b {
    font-size: 1.3em;
}

.topmost .position {
    font-size: 0.7em;
}

.topmost .position a.nohl {
    color: black;
    text-decoration: underline;
}

/* WIKI */
table.wiki {
    width: 100%;
}

table.wiki td {
    vertical-align: top;
}

table.wiki tbody tr td:first-child {
    padding-right: 3em;
}

table.wiki pre, table.wiki tt {
    background-color: #DDD;
    font-size: 1em;
    padding: 0 0.25em;
    border-radius: 0.25em;
}

table.wiki pre {
    padding: 1em;
    overflow: hidden;
    font-size: 0.8em;
}

table.wiki .sidebar {
    background-color: #f3f5f8;
    border-radius: 0.3em;
    white-space: nowrap;
    padding: 2em;
}

table.wiki .sidebar sup, table.wiki .sidebar font {
    display: none;
}

table.wiki .toc-list {
    margin-bottom: 0.75em;
    white-space: nowrap;
    list-style-type: decimal;
}

table.wiki .toc-list1 {
    padding-bottom: 3em;
}

table.wiki pre.yaml .sy1 {
    color: gray;
}

table.wiki pre.yaml .co1 {
    color: silver;
}

table.wiki a.anchorLink {
    vertical-align: bottom;
    padding-left: 0.5em;
    font-size: 0.8em;
    text-decoration: none;
    color: gray;
    top: -0.25em;
}

table.wiki img {
    max-width: 100%;
}

.stick {
    position: fixed;
    top: 2em;
    display: block;
}
