<configuration>

    <property name="PREFIX" value="${LOG_DIRECTORY}/${T_GRINDER_PREFIX}"/>

    <appender name="data-file" class="com.blazemeter.taurus.grinder.TaurusAppender">
        <file>${PREFIX}-kpi.log</file>
        <encoder>
            <pattern>%c %m%n%ex</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <logger name="worker" additivity="false">
        <appender-ref ref="data-file"/>
    </logger>

    <logger name="data" additivity="false">
        <appender-ref ref="data-file"/>
    </logger>

</configuration>
